@model MooshakPP.Models.ViewModels.CreateMilestoneViewModel
@{
    ViewBag.Title = "AddMilestones";
}

<div class="row">
    <div class="col-md-6">
        @Html.ActionLink("Back", "Create", "Teacher", null, new { @class = "btn btn-primary backbutton" })
    </div>
</div>
