@model MooshakPP.Models.ViewModels.AllSubmissionsViewModel

@if (Model.users != null || Model.submissions != null)
{
    if (Model.users.Count != 0)
    {
        using (Html.BeginForm("Index", "Teacher", new { userid = Model.submittedUser.Id }, FormMethod.Post, new { @class = "interactiveList" }))
        {
            <table>
                <tbody>
                    @foreach (var user in Model.users)
                    {
                        <tr>
                            <td>
                                @Html.ActionLink(user.Email, "Index", "Teacher", new { userid = Model.submittedUser.Id, assignmentid = Model.currentMilestone.assignmentID, milestoneid = Model.currentMilestone.ID }, null)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    }

    if (Model.currentMilestone != null)
    {
        using (Html.BeginForm("Index", "Teacher", new { milestoneID = Model.currentMilestone.ID }, FormMethod.Post, new { @class = "interactiveList" }))
        {
            <table class="table-striped table-hover">
                <thead>
                    <tr>
                        <th>Team</th>
                        <th>Problem</th>
                        <th>Language</th>
                        <th>Status</th>
                        <th>Download</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach(var milestone in Model.milestones)
                    {
                        <tr>
                            <td>@Model.submittedUser.Email</td>
                            <td>@Model.currentMilestone.name</td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    }

}