
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<h4>Welcome to the empty index page of all teachers</h4>

<p>................................hatthefuc</p>                             
<p>............................kdidyoujustfuckin</p>
<p>.........................gsayaboutme,youlittlebit</p>
<p>..................ch?I’llhaveyouk............nowIgrad</p>
<p>................uatedtopofmyc..................lassint</p>
<p>..............heNavySeals,and...................I’vebe</p>
<p>.............eninvolvedinnume....................rouss</p>
<p>.............ecretraidso nAl-Qu    aeda,andIha  veove</p>
<p>.............r300confirmedkills. Iamtrainedingor illa</p>
<p>.............warfareandI’mthet  opsniperintheentireUS</p>
<p>............armed..forces.Youa..renothingtomebutjusta</p>
<p>...........nothertarget.Iwillwi peyouthefuc koutwithp</p>
<p>..........recisionthelikesofw.. hichhasneverbeenseenb</p>
<p>.........eforeonthisEarth,markmyfuckingwords.  Youth</p>
<p>........inkyo...........ucangetawaywithsay.....ingtha</p>
<p>.......tshit......................tomeove.....rtheIn</p>
<p>......ternet.................................?Think</p>
<p>.....again,.................................fucker</p>
<p>....Aswes..................................peakIa</p>
<p>....mcont......................acti.......ngmyse</p>
<p>....cret.....................netwo rko   fspies</p>
<p>....acro.....................sstheUSAan  dyour                         IPisbeing</p>
<p>...trace.....................drightnow  soyou                        betterprepar</p>
<p>...efort....................hestorm,ma ggot.                       Thesto....rmth</p>
<p>...atwip....................esoutthep..athet                     iclittl....ethin</p>
<p>...gyouc....................allyourli..fe.You                   ’refuck.....ingde</p>
<p>...ad,ki................... d.Icanbe...anywhere,anytime,and   Icankil.....lyoui</p>
<p>...nove.....................rsevenhu....ndredways,andthat’sjustwithm.....ybare</p>
<p>....hand...................s.Noton.....lyamI...exten...sivelytrai......nedinu</p>
<p>....narm..................edcombat......,bu...tIhaveaccesstothe......entire</p>
<p>....arsen...............aloft.heUni.........tedStatesMarineCor.....psandIw</p>
<p>.....illu..............seitt..oitsful         lextenttowipeyourmi   serablea</p>
<p>.....ssoff............thefaceoftheco                     ntinent,    youlittle</p>
<p>......shit.............Ifonlyyoucou              ldha       veknow  nwha tunho</p>
<p>......lyretr...............ibut                   iony        ourlit  tle“clev</p>
<p>.......er”com                                men              twasa    bout</p>
<p>........tobringd                            ownu              ponyo     u,ma</p>
<p>..........ybeyouw                          ould              haveheldyourfu</p>
<p> cki        ngtongue.B                       utyo           ucouldn’t,youdi</p>
<p>dn’t,an    dnowyou’repayingt                  hep         rice,yo    u</p>
<p>goddamnidiot.I willshitfuryalloveryo           uand    youwill</p>
<p>drow ninit.You’refu    ckingdead,kiddo .Whatthefuckdidyoujus</p>
<p>.tfuc  kingsayabo         utme,youlit tlebitch?I’llhaveyo</p>
<p>..ukno   wIgrad         uatedtopofmy class intheNavySe</p>
<p>...als,andI’v           ebeeninvolv  edin</p>
<p>....numerou              ssecretr   aids</p>
<p>......onA                l-Quae    da,a</p>
<p>..........................ndIhav  eove</p>
<p>...........................r300confir</p>
<p>.............................medkill</p>
<p>................................s.I</p>

