body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    margin-top: 30px;
    margin-bottom: 30px;
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

#copyright{
    margin:15px 20px;
    float: right;
    color:#555
}
.m-barborder {
    padding:3px;
    background:#ce2015;
}

.navbar {
    background:#242424
}

.navbar-inverse .navbar-brand {
    padding-top:8px;
    padding-bottom:8px;
    line-height:60px;
}

.navbar-header > li > a {
    margin-top: 14px;
}

#courselist{
    margin: 0 auto;
}

.listbox{
    float: left;
    width: 400px;
}