body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    margin-top: 50px;
    margin-bottom: 30px;
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

#copyright{
    margin:15px 20px;
    float: right;
    color:#555
}

.m-barborder {
    padding:3px;
    background:#ce2015;
}

.navbar {
    background:#242424
}

.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav {
    padding-top:8px;
    padding-bottom:8px;
    line-height:60px;
}

.navbar-header > li > a {
    margin-top: 14px;
}


.listbox {
    width: 400px;
}

.backbutton {
    float: right;
}

.courselist {
    font-size: 18px;
    max-height: 25em;
    overflow: auto;
}

.tablelist {
    max-height:300px;
    overflow:auto;
}

.courselist a:hover {
    text-decoration:none;
}


.selected{
  color:#ce2015;
}

.selected:hover {
    color:#ce2015;
    text-decoration:none;
}

.teachercheck {
    padding-left: 50px;
}

#teachercheckheader {
    padding-left: 20px;
}

#dickbutt {
    line-height: 50%;
    letter-spacing: 3px;
}

.highlightWrong {
    color: white;
    background-color: #ce2015;
}

.underline {
    text-decoration: underline;
}

.add {
    margin: 3px;
}

tr .form-control {
    margin: 3px;
}

.plusbutton {
    padding: 30px 37px;
    font-size: 60px;
}

.descriptionbox {
    resize: none;
    overflow: auto;
}