
@{
    ViewBag.Title = "Index";
}

<div class="navbar navbar-inverse navbar-static-top ">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
            </button>
        </div>
    </div>
</div>

<h2>Change Class</h2> 
