
@{
    ViewBag.Title = "ViewDetails";
}

<div class="=row">
    @Html.ActionLink("Back", "Submit", "Student", null, new { @class = "btn btn-primary backbutton" })
</div>
<div class="row">
    <h2>Details</h2>
</div>