@model MooshakPP.Models.ViewModels.AddConnectionsViewModel
@{
    ViewBag.Title = "Connect users";
}

@using (Html.BeginForm("ConnectUser", "Admin", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    <div class="row">
        <div class="col-md-offset-2 col-md-4">
            @Html.DropDownListFor(x => x.courses, Model.courses.Select(f => new SelectListItem { Text = f.name, Value = f.ID.ToString() }), new { @id = "courselist" })
        </div>
        @Html.ActionLink("Back", "Index", "Admin", new { @class = "btn btn-default backbutton" })
    </div><br />
    <div class="row">
        <div class="col-md-offset-2 col-md-4">
            @Html.ListBoxFor(x => x.connectedUser, Model.connectedUser.Select(f => new SelectListItem { Text = f.email, Value = f.ID.ToString() }), new { @class = "listbox", size = 20 })
        </div>
        <div class="col-md-4">
            @Html.ListBoxFor(x => x.notConnectedUser, Model.notConnectedUser.Select(f => new SelectListItem { Text = f.email, Value = f.ID.ToString() }), new { @class = "listbox", size = 20 })
        </div>
    </div><br />
    <div class="row">
        <div class="col-md-7">
            <!-- connectSubmit gets a margin -->
            <input type="submit" class="btn btn-default" id="connectSubmit" value="Connect" />
        </div>
    </div>
}