@model MooshakPP.Models.Entities.User
@{
    ViewBag.Title = "CreateUser";
}

@using (Html.BeginForm("CreateUser", "Admin", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h3>Create User</h3>
    @Html.ValidationSummary("", new { @class = "text-danger" })

    for (int i = 1; i <= 10; i++)
    {
        @Html.Label(i.ToString())
        @Html.TextBoxFor(x => x.email, new { @placeholder = "Email", @class = "createusertext"})<br/>
    }

    <div class="form-group">
        <br/><input type="submit" class="btn btn-default" value="Create user" />
    </div>
}
