@model MooshakPP.Models.ViewModels.CreateCourseViewModel
@{
    ViewBag.Title = "CreateCourse";
}


@using (Html.BeginForm("CreateCourse", "Admin", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h3>Create course</h3>
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.TextBoxFor(m => m.courses, new { @class = "form-control"})
    </div>

    <div class="form-group">
        <input type="submit" class="btn btn-default" value="Create course" />
    </div>
}

@Html.ListBoxFor(x => x.courses, Model.courses.Select(f => new SelectListItem{ Text = f.name, Value = f.ID.ToString() })) 