@{
    ViewBag.Title = "Index";
}

<div id="adminIndex">
    @Html.ActionLink("Manage courses", "ManageCourse", "Admin", null, new { @class = "btn btn-default btn-primary btn-lg btn-block" })
    @Html.ActionLink("Add users", "CreateUser", "Admin", null, new { @class = "btn btn-default  btn-lg btn-block" })
    @Html.ActionLink("Link users", "ConnectUser", "Admin", null, new { @class = "btn btn-default btn-lg btn-block" })
    @Html.ActionLink("Create admin", "CreateAdmin", "Admin", new { adminid = ""}, new { @class = "btn btn-default btn-lg btn-block" })
</div>

<hr/>


