
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@Html.ActionLink("Create a course","CreateCourse", "Admin")
@Html.ActionLink("Add users","CreateUser", "Admin")
@Html.ActionLink("Link users","ConnectUser", "Admin")


