@model MooshakPP.Models.ViewModels.IndexViewModel

@if (Model.currentMilestone != null)
{
    <h2>Description for: @Model.currentMilestone.name</h2>
    <p>
        @Model.currentMilestone.description
    </p>
}
    